<!DOCTYPE html>
<html>
<head>
  <title>DmWebsite</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300italic,900,700italic,300,400,400italic,900italic,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>