<header class="container">
  <div class="row pad-top">
    <div class="columns five">
      <h3>Destination Marketing</h3>
    </div>
    <div class="columns seven">
      <nav id="main-nav">
        <ul>
          <li><a href="#">Case Studies</a></li>
          <li><a href="#">Production Work</a></li>
          <li><a href="#">Our Staff</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>